
.container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns:  repeat(2, 1fr);
  grid-template-rows:  380px 200px;
}

.company_list {
  grid-column: 1 / -1;
  border-top: 2px solid grey;
  margin-top: 5px;
}

.company_form {
  margin: 5px 0 15px 30px;
  padding-right: 20px;
  border-right: 2px solid grey;
}

.office_form {
  margin: 5px 30px 15px 30px;
}
